.box{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    position: relative;
    /* animation: anime;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
    /* background-color: aqua; */
    animation: changePos;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate;
    animation-direction: reverse;
    animation-direction:alternate-reverse; */
    /* animation-delay: 5s; */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out;
    animation-timing-function: linear;
}

@keyframes changePos{
    0%{
        left: 0;
        top: 0;
        background-color: antiquewhite;
        border-radius: 50%;
    }
    25%{
        top: 0;
        left: 300px;
        background-color: aqua;
        border-radius: 0%;
    }
    50%{
        top: 300px;
        left: 300px;
        background-color: darkgoldenrod;
        border-radius: 50%;

    }
    75%{
        left: 0;
        top: 300px;
        background-color: blue;
        border-radius: 0%;

    }
    100%{
        top: 0;
        left: 0;
        background-color: brown;
        border-radius: 50%;

    }

}

@keyframes anime{
    /* from{
        left: 0px;
    }
    to{
        left: 300px;
    } */
    0%{
        left: 0px;
    }
    100%{
        left: 300px;
    }
}