.container{
    height: 80vh;
    display: flex;
    border: 4px solid rgb(38, 137, 38);
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-between;
    justify-content: center;
    justify-content: end;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-end;
    justify-content: flex-start; */
    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;


}
.child {
    border: 2px solid red;
    /* height: 100px; */
    width: 100px;
}
