*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(9, 65, 65);
    background-color: rgb(236, 236, 236);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid black;
    background-color: rgb(231, 231, 232);

}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.nav-links a{
    margin-left: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #1a1a1a;
}
.nav-links .btn{
    padding: 10px;
    border-radius: 9999px;
    color: white;
    background-color: #1a1a1a;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: center;

}
.hero-text p{
    font-size: 20px;
    margin: 20px 0;
}
.hero-section span{
    font-weight: bold;

}
.btn-start-btn{
    padding: 10px;
    border-radius: 9999px;
    color: white;
    background-color: #1a1a1a;

}
.hero-image img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}
.footer {
    padding: 30px 50px;
    border-top: 1px solid #fefcfc;
    text-align: center;
    background-color: #dcdcdc;
}
.footer a{
    margin-left: 5px 50px;
    padding:2px 5px;
    color: #1a1a1a;
    text-decoration: none;


}