*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: aliceblue;
    background-color: blanchedalmond;
}
.Navbar{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}