* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #020101;
}
.slideshow-container {
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section {
  padding: 60px 20px;
  text-align: center;
}
.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}
.member {
  width: 200px;
}
.member img {
  width: 200px;
  border-radius: 5px;
}